{% extends 'shop/base.html' %}
{% load static %}
{#{% load bootstrap4 %}#}
{% block product %}
    <div class="row" id="app">
        <div class="col-md-10 col-md-push-2">
            <div class="row row-pb-lg">
                <div v-for="product in products"
                     class="col-md-4 text-center">
                    <div class="product-entry">
                        <div class="product-img">
                            <img style="width: 60%;"
                                 v-bind:src="urlImg + product.photo.image">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="cart.html"><i
                                            class="icon-shopping-cart"></i></a></span>
                                    <span><a href="product-detail.html"><i
                                            class="icon-eye"></i></a></span>
                                    <span><a href="#"><i class="icon-heart3"></i></a></span>
                                    <span><a href="add-to-wishlist.html"><i
                                            class="icon-bar-chart"></i></a></span>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>
                                <a v-bind:href="urlImg+'/detail/'+product.slug">
                                    <% product.title %>
                                </a>
                            </h3>
                            <p class="price"><span>$<% product.price %></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {#            {% bootstrap_pagination page_obj %}#}
                {#            <div class="col-md-12">#}
                {#                <ul class="pagination">#}
                {#                    <li class="disabled"><a href="#">&laquo;</a></li>#}
                {#                    <li class="active"><a href="#">1</a></li>#}
                {#                    <li><a href="#">2</a></li>#}
                {#                    <li><a href="#">3</a></li>#}
                {#                    <li><a href="#">4</a></li>#}
                {#                    <li><a href="#">&raquo;</a></li>#}
                {#                </ul>#}
                {#            </div>#}

            </div>
        </div>
        {#  Sidebar  #}
        <div class="col-md-2 col-md-pull-10">
            <div class="sidebar">
                <div class="side">
                    <h2>Categories</h2>
                    <div class="fancy-collapse-panel">
                        <div class="panel-group" id="accordion" role="tablist"
                             aria-multiselectable="true">
                            <div class="panel panel-default">
                                {#                                <div class="panel-heading" role="tab" id="headingOne">#}
                                {#                                    <h4 class="panel-title">#}
                                {#                                        <a data-toggle="collapse" data-parent="#accordion"#}
                                {#                                           href="#collapseOne" aria-expanded="true"#}
                                {#                                           aria-controls="collapseOne">Men#}
                                {#                                        </a>#}
                                {#                                    </h4>#}
                                {#                                </div>#}
                                {#                                <div id="collapseOne" class="panel-collapse collapse"#}
                                {#                                     role="tabpanel" aria-labelledby="headingOne">#}
                                <div>
                                    <div class="panel-body">
                                        <ul>
                                            <li v-for="cat in listCategory">
                                                <a v-on:click="addCat(cat)" href="#">
                                                    <% cat.name %>
                                                </a>
                                                <ul>
                                                    <li v-for="child in sortedList">
                                                        <a v-on:click="addCat(child)"
                                                           href="#">
                                                            <% child.name %>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <h2>Price Range</h2>
                    <form method="post" class="colorlib-form-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="guests">Price from:</label>
                                    <div class="form-field">
                                        <i class="icon icon-arrow-down3"></i>
                                        <select v-model="price1"
                                                v-on:change="search()"
                                                name="people"
                                                id="at"
                                                class="form-control">
                                            <option v-bind:value="1">1</option>
                                            <option v-bind:value="200">200</option>
                                            <option v-bind:value="300">300</option>
                                            <option v-bind:value="1000">1000</option>
                                            <option v-bind:value="10000">10000</option>
                                            <option v-bind:value="20000">20000</option>
                                            <option v-bind:value="50000">50000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="guests">Price to:</label>
                                    <div class="form-field">
                                        <i class="icon icon-arrow-down3"></i>
                                        <select v-model="price2"
                                                v-on:change="search()"
                                                name="people2"
                                                id="of"
                                                class="form-control">
                                            <option v-bind:value="2000">2000</option>
                                            <option v-bind:value="4000">4000</option>
                                            <option v-bind:value="6000">6000</option>
                                            <option v-bind:value="8000">8000</option>
                                            <option v-bind:value="10000">10000</option>
                                            <option v-bind:value="100000">100000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="side">
                    <h2>availability</h2>
                    <div class="color-wrap">
                        <p class="color-desc">
                            <a href="#" v-on:click="addAvailability('True')"
                               class="color color-1">Да</a>
                            <a href="#" v-on:click="addAvailability('False')"
                               class="color color-2">Нет</a>
                        </p>
                    </div>
                </div>
                {#        <div class="side">#}
                {#            <h2>Size</h2>#}
                {#            <div class="size-wrap">#}
                {#                <p class="size-desc">#}
                {#                    <a href="#" class="size size-1">xs</a>#}
                {#                    <a href="#" class="size size-2">s</a>#}
                {#                    <a href="#" class="size size-3">m</a>#}
                {#                    <a href="#" class="size size-4">l</a>#}
                {#                    <a href="#" class="size size-5">xl</a>#}
                {#                    <a href="#" class="size size-5">xxl</a>#}
                {#                </p>#}
                {#            </div>#}
                {#        </div>#}
                {#                <p v-for="cat in listCategory" v-if="cat ? receive(cat) : ''">#}
                {#                    <b v-on:ckick="receive(cat) "><% cat.name %></b>#}
                {#                </p>#}
            </div>
        </div>
    </div>
{% endblock product %}

{% block script_vue %}
    <script>
        (function () {
            let csrftoken = Cookies.get('csrftoken');
            $.ajaxSetup({
                headers: {"X-CSRFToken": csrftoken}
            });
        })();
        var app = new Vue({
            el: '#app',
            delimiters: ["<%", "%>"],
            data() {
                return {
                    products: '',
                    listCategory: '',
                    listChildren: [],
                    url: "http://127.0.0.1:8000/sort/",
                    urlImg: "http://127.0.0.1:8000",
                    category: '',
                    price1: 0,
                    price2: 1000000000,
                    availability: "True",
                }
            },
            computed: {
                sortedList() {
                    return this.listChildren
                }
            },
            created() {
                let url_string = window.location.href
                let url = new URL(url_string);
                var slug = url.searchParams.get("slug");
                this.loadCat(slug)
            },
            methods: {
                loadCat(slug) {
                    $.ajax({
                        url: "http://127.0.0.1:8000/category-vue/",
                        type: "POST",
                        data: {
                            slug: slug,
                        },
                        success: (response) => {
                            this.products = response.products
                            this.listCategory = response.category
                        }
                    })
                },
                addCat(cat) {
                    this.category = cat
                    this.search()
                },
                addAvailability(availability) {
                    this.availability = availability
                    this.search()
                },
                search() {
                    $.ajax({
                        url: this.url,
                        type: "POST",
                        data: {
                            category: this.category ? this.category.name : '',
                            price1: this.price1,
                            price2: this.price2,
                            availability: this.availability,
                        },
                        success: (response) => {
                            this.products = response.products
                        }
                    })
                    this.category ? this.receive(this.category) : ''
                },
                receive(item) {
                    this.listChildren = []
                    for (var i = 0; i < item.children.length; i++) {
                        this.listChildren.push(item.children[i])
                        //console.log(this.listChildren)
                    }
                }
            }
        })
    </script>
{% endblock script_vue %}
