{% load static %}
<div class="col-md-2 col-md-pull-10">
    <div class="sidebar">
        <div class="side">
            <h2>Categories</h2>
            <div class="fancy-collapse-panel">
                <div class="panel-group" id="accordion" role="tablist"
                     aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne">Men
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse"
                             role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="/sort/?category=LG">LG</a></li>
                                    <li><a href="/sort/?category=Noth">Noth</a></li>
                                    <li><a href="/sort/?category=TV">TV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <h2>Price Range</h2>
            <form method="post" class="colorlib-form-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="guests">Price from:</label>
                            <div class="form-field">
                                <i class="icon icon-arrow-down3"></i>
                                <select name="people" id="people" class="form-control">
                                    <option value="#">1</option>
                                    <option value="#">200</option>
                                    <option value="#">300</option>

                                    <option value="#">1000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="guests">Price to:</label>
                            <div class="form-field">
                                <i class="icon icon-arrow-down3"></i>
                                <select name="people" id="people" class="form-control">
                                    <option value="#">2000</option>
                                    <option value="/sort/?price2=4000">4000</option>
                                    <option value="#">6000</option>
                                    <option value="#">8000</option>
                                    <option value="#">10000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="side">
            <h2>availability</h2>
            <div class="color-wrap">
                <p class="color-desc">
                    <a href="/sort/?price1=400">400</a>
                    <a href="/sort/?price2=4000">4000</a>
                    <a href="/sort/?availability=True" class="color color-1">True</a>
                    <a href="/sort/?availability=False" class="color color-2">False</a>
                </p>
            </div>
        </div>
{#        <div class="side">#}
{#            <h2>Size</h2>#}
{#            <div class="size-wrap">#}
{#                <p class="size-desc">#}
{#                    <a href="#" class="size size-1">xs</a>#}
{#                    <a href="#" class="size size-2">s</a>#}
{#                    <a href="#" class="size size-3">m</a>#}
{#                    <a href="#" class="size size-4">l</a>#}
{#                    <a href="#" class="size size-5">xl</a>#}
{#                    <a href="#" class="size size-5">xxl</a>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
